{% extends "base.html" %}

{% block content %}
	<h1>Welcome, {{ user.nickname }}!</h1>
	<h2>Upcoming frisbee events near Cal:</h2>
	<p>*<strong>Bold</strong> indicates host, <span style="color:red">Red</span> indicates change</p>
	<br>
	{% for event in events %}
	<div><p>
			<!-- Display event details. Parts that have been edited by the host are displayed in red. -->
			{% if event.edited_type %}<span style="color: red;">{{ event.type }}</span>{% else %}{{ event.type }}{% endif %} 
			{% if event.edited_date %}(<span style="color: red;">{{ event.date }}</span>){% else %}({{ event.date }}){% endif %}<br>
			{% if event.edited_location %}<span style="color: red;">{{ event.location }}</span>,{% else %}{{ event.location }},{% endif %}
			{% if event.edited_time %} at <span style="color: red;">{{ event.time }}</span>{% else %} at {{ event.time}}{% endif %}<br>
			{% if event.description|length > 0 %}
				{% if event.edited_description %}
					<span style="color: red;"><i>{{ event.description }}</i></span><br>
				{% else %}
					<i>{{ event.description }}</i><br>
				{% endif %}
			{% endif %}
			Going:
				{% for user in event.going %}
					<!-- Display host's name as bold, link to host's profile so users can email him/her -->
					{% if user.id == event.host_id %}
						{% if loop.index == event.going|length %}
							<a href="{{ url_for('profile', user_id = event.host_id) }}" style="text-decoration: none; color: black"><strong>{{ user.nickname}}</strong></a>
						{% else %}
							<a href="{{ url_for('profile', user_id = event.host_id) }}" style="text-decoration: none; color: black"><strong>{{ user.nickname}}</strong></a>,
						{% endif %}
					{% else %}
						{% if loop.index == event.going|length %}
							{{ user.nickname}}
						{% else %}
							{{ user.nickname}}, 
						{% endif %}
					{% endif %}
				{% endfor %}
			<!-- Enable host to edit their own events. Enable other users to check if they are going to events or not. -->
			{% if user.id == event.host_id %}
				<p><input type="checkbox" checked="checked" disabled="disabled">You are the host.</p>
				<form action="" method="post" name="{{ loop.index - 1 }}">
					{{ forms[loop.index - 1].hidden_tag() }}
					<p>{{ forms[loop.index - 1].edit_event(value="Edit Event") }}</p>
				</form>
			{% else %}
				<form action="" method="post" name="{{ loop.index - 1 }}">
					{{ forms[loop.index - 1].hidden_tag() }}
					<p>{{ forms[loop.index - 1].is_going(checked=event in user.events) }} Going?</p>
					<p>{{ forms[loop.index - 1].confirm(value="Confirm") }}</p>
				</form>
			{% endif %}
	</p></div><br>
	{% endfor %}
{% endblock %}










