{% extends "base.html" %}

{% block content %}

  <div class="container page-header">
      <h1>About findfrisbee.com</h1>
  </div>

  <div class="container">
  	<p>Welcome!<br><br>

	findfrisbee.com is a web application dedicated to organizing all sorts of Ultimate-Frisbee-related events. Because of the sport's inclusive nature, players often welcome anyone to join in on their fun (whether it's Boot, Mini, or just old-fashioned Pickup). This website is designed to publicly display Ultimate events around your area, allowing you to create your own event or jump in on someone else's!<br><br><br>

	Here's a quick guide to get you started:<br><br>

	<ul><li>User settings</li></ul>
	After initial account creation, you can view and edit your profile by using the navigation bar. Your preferred nickname and password can be changed, but your email cannot. People may be linked to your profile if you are hosting an event.<br><br>

	<ul><li>Home Page</li></ul>
	Your home page displays all upcoming events sorted by time. Each event contains a title, date, location, time, (optional) description, and list of people going. Fields that have been edited are marked in red. The host's name is in bold, and can be clicked to find contact information. Below each event is an option to mark if you are going or not, which will be shown to everyone else.<br><br>

	<ul><li>Event Management</li></ul>
	You can reach the event creation page using the navigation bar, where you can determine the logistics for whatever you want to organize. After submitting it, you can view and edit (or delete) it on your home page.</p>
  </div>
  
{% endblock %}